body {
    background-color: #ffffff;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}




.Parent {
    max-width: 1200px;
    margin: 0 auto;
}




header {
    z-index: 999;
    position: sticky;
    top: 0px;
    margin-bottom: 20px;
    background-color: white;
}

.child {
    display: flex;
    gap: 50px;
    color: #002f34;
    align-items: center;

}

.olx-logo {
    margin-left: 10px;
    margin-top: 20px;

}


.Motors {
    display: flex;
    align-items: center;
    margin-top: 20px;

}

.Motor {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    font-weight: 700;
}

.Motor:hover {

    color: #27a4e5;
}

.Motor-cycle {
    background-color: #e1e6e7;
    width: 35px;
    padding: 10px;
    border-radius: 25px;
}

.property {
    margin-top: 18px;
}

.properties {
    display: flex;
    gap: 17px;
    font-size: 20px;
    font-weight: 700;
}




.properties span {
    font-size: 20px;
    margin-top: 5px;
}

.properties:hover {
    color: #27a4e5;
}

.building {
    background-color: #e1e6e7;
    width: 35px;
    padding: 10px;
    border-radius: 25px;
}




.Location-search {
    border: 1px solid gray;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px;

}

.Location-search input {
    border: none;
    outline: none;
    flex-grow: 0;
}








.icon {
    display: flex;
    align-items: center;
    height: 100%;
    color: #002f34;
    margin-right: 4px;

}


.Second-section {
    display: flex;
    align-items: center;
    gap: 20px;
}


.Main-input-two {
    border: 1px solid gray;
    display: flex;
    align-items: center;
    width: 400px;
    margin-top: 10px;
    height: 40px;
    justify-content: space-between;
}

.placeholder {
    width: 300px;
    outline: none;
    border: none;
    background: none;
}

.input-1 input {
    border: none;
    outline: none;
}

.search-icon {
    background-color: #002f34;
    color: white;
}

.search {
    color: white;
}

.login {
    color: #002f34;
    font-size: 20px;
    border-bottom: 2px solid #002f34;
    margin-top: 12px;
    margin-left: 9px;
}

.login:hover {
    border: none;
}


.buttons {
    display: flex;
    gap: 15px;
}

.btn {
    margin-top: 10px;
    border: 5px solid #27a4e5;
    width: 100px;
    height: 30px;
    padding-top: 5px;
    border-radius: 25px;
    text-align: center;

}

.btn button {

    font-size: 12px;
    color: #002f34;
    background: none;
}

.btn:hover {
    border: 5px solid #002f34;
}



.olx-button:hover {
    background-color: #002f34;
    color: white;
}






.main-list {
    display: flex;
    align-items: center;
}

.main-list span {
    margin-left: 10px;
    display: flex;
}


.list {
    display: flex;
    align-items: center;
    font-size: 22px;
    color: #002f34;
    font-weight: 700;
}

.list-item ul {
    display: flex;
    gap: 15px;
    list-style-type: none;
    font-size: 17px;
    color: #002f34;
}


.list-item ul li:hover {
    color: #27a4e5;
}


.banner{
    width: 100%;
    height: auto;
    overflow: hidden;

}
    .banner img {
        width: 100%;
        height: auto;
        display: block;
    }

.banner-two{
    width: 100%;
    height: auto;
    overflow: hidden;
}
.banner-two{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}



.All-Categories {
    margin-top: 20px;
    margin-left: 10px;
    color: #002f34;
}

.All-Categories-card {
    display: flex;
    margin-left: 0px;
    gap: 50px;
    flex-wrap: wrap;

}

.Categories-p {
    margin-left: 20px;
    font-weight: 600;
    font-size: large;
    color: #2b363d;
    width: 80px;
    overflow: hidden;
}

.land {
    display: none;
}



.card {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 100%;
    margin: auto;
    margin-bottom: 18px;
    justify-content: space-between;
}

.cards {
    width: 270px;
    border: 1px solid gray;
    height: 330px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.google-pixel-6a {
    width: 270px;
    border: none;
    border-radius: 5px;
    height: 180px;
}

.rupees {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
    height: 20px;
}

.rupees p {
    color: #002f34;
    font-weight: bolder;
}

.paragraph {
    color: #002f34;
    font-weight: 600;
    margin-left: 10px;
    overflow: visible;
}

.opacity {
    font-size: 13px;
    color: #002f34;
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    opacity: 1;
}



.footer {
    display: flex;
    justify-content: space-between;
    background-color: #f8faf9;
    align-items: center;
}

.center {
    margin-right: 0px;
}

.center h2 {
    color: #002f34;
}

.center p {
    color: #002f34;

}


.last {
    margin-right: 0px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 0px;


}

.last p {
    color: #002f34;
    font-weight: 600;
    margin-right: 5px;
}



.last-list {
    flex-direction: row;
    display: flex;
    background-color: #ebeeef;
    align-items: center;
    gap: 70px;
    padding: 0px;
}

.last-list p {
    color: #002f34;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.last-list ul li {
    list-style-type: none;
    color: #002f34;
    padding: 0px;
}

.follow-us-section {
    display: flex;
    flex-direction: column;
}

.follow-us-section,
.follow-us {
    margin-bottom: 15px;
}

.icon-image {
    display: flex;
}

footer {
    background-color: #002f34;
    width: 100%;
    margin: 0 auto;
    height: 60px;
    margin: 0px;
    padding: 0px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: end;


}

.text {
    display: flex;
    margin-right: 20px;
    font-size: 14px;
    font-weight: 700;

}



@media screen and (max-width: 600px) {


.Parent{
    max-width: 100%;
    margin: 0px auto;
}



    header {

        z-index: 999;
        position: sticky;
        top: 0px;
        margin-bottom: 20px;
        background-color: white;
        align-items: center;
        justify-content: start;
        max-width: 100%;
    }




    body {
        font-family: 'Roboto', sans-serif;
        margin: 0px;
        padding: 0px;
        max-width: 100%;
    }



    .olx-logo {
        margin-top: 15px;

    }




    .Location-search {
        position: relative;
        right: 120px;
        top: 10px;
        padding: 5px;
        border: none;
        display: flex;
    
    }
    
    .Location-search input {
        border: none;
        outline: none;
        flex-grow: 0;
        width: 90px;
    }
    


    .Main-input {
        display: flex;
        justify-content: center;
        max-width: max-content;
        align-items: center;
        color: #002f34;
        width: 100%;
    }




    .child {
        display: flex;
        gap: 30px;
        color: #002f34;
        align-items: center;
    }




    .Second-section {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        padding: 0px;


    }

    .buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;

    }

    .login {
        color: #002f34;
        font-size: 20px;
        border-bottom: 2px solid #002f34;
        margin-top: 12px;
        display: flex;
        flex-direction: row;
    }


    .btn {
        margin-top: 10px;
        border: 5px solid #002f34;
        width: 100px;
        height: 30px;
        padding-top: 5px;
        border-radius: 25px;
        text-align: center;
        display: flex;
        text-align: center;
        padding-left: 10px;
    }
 .Main-input-two{
    width: 90%;
 }


    .icon-1 {
        display: none;
    }


    .span-1 {
        font-size: 15px;
    }



    .main-list {
        display: flex;
        align-items: center;
        width: 100%;
    }

    .list-item ul {
        display: flex;
        gap: 15px;
        list-style-type: none;
        font-size: 17px;
        color: #002f34;
        max-width: 67.5;

    }



    .All-Categories-card {
        display: flex;
        margin-left: 10px;
        flex-wrap: wrap;
        padding: 0px;
        gap: 0px;
        max-width: 100%;
        overflow: scroll;

    }

    .Categories-p {
        padding: 0px;
        font-weight: 600;
        font-size: 10px;
        color: #2b363d;
        margin-right: 10px;
        margin-top: 5px;
        width: 70px;
        overflow: hidden;

    }

    .All-Categories {
        margin-top: 20px;
        margin-left: 10px;
        color: #002f34;
        max-width: 20%;
    }



    .banner {
        width: 100%;
        height: auto;
    }

    .banner img {
        width: 100%;
        height: auto;
    }
    

    .banner-two {
        width: 100%;
        height: auto;
    }

    .banner-two img {
        width: 100%;
        height: auto;
    }
 
    .mobiles {
        width: 100px;
        height: 0px;


    }

    .mobile {
        width: 50px;
        height: 50px;
        padding: 0px;

    }

    .vehicles {

        width: 100px;
    }

    .vehicle {
        width: 50px;
        height: 50px;
        padding: 0px;
    }

    .houses {
        width: 100px;
    }

    .house {
        width: 50px;
        height: 50px;
    }

    .keys {
        width: 100px;
    }

    .key {
        height: 50px;
        width: 50px;

    }

    .Cameras {
        width: 100px;
    }

    .Camera {
        width: 50px;
        height: 50px;
    }

    .bikes {
        width: 100px;
    }

    .bike {
        width: 50px;
        height: 50px;
    }

    .Bussinesses {
        width: 100px;
    }

    .Bussiness {
        width: 50px;
        height: 50px;
    }

    .services {
        width: 100px;
    }

    .service {
        width: 50px;
        height: 50px;
    }

    .Jobs {
        width: 100px;
    }

    .job {
        width: 50px;
        height: 50px;
    }

    .Animals {
        width: 100px;
    }

    .Animal {
        width: 50px;
        height: 50px;
    }

    .Fornitures {
        width: 100px;
    }

    .Forniture {
        width: 50px;
        height: 50px;
    }

    .Fashions {
        width: 100px;
    }

    .Fashion {
        width: 50px;
        height: 50px;
    }


    .Books {
        width: 100px;
    }

    .Book {
        width: 50px;
        height: 50px;
    }

    .Kids {
        width: 100px;
    }

    .Kid {
        width: 50px;
        height: 50px;
    }





    .card {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        padding: 0;
        justify-content: center;


    }

    .cards {
        display: flex;
        flex-direction: column;
        width: 200px;
        height: 320px;
        border: 1px solid black;
        border-radius: 5px;
        margin-right: 10px;
        margin-bottom: 10px;
    }


    .google-pixel-6a {
        width: 200px;
        border: none;
        border-radius: 5px;
        height: 180px;

    }



    .rupees {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 5px;
        margin-left: 5px;
        height: 20px;
    }


    .rupees p {
        color: #002f34;
        font-weight: bolder;
    }

    .paragraph {
        color: #002f34;
        font-weight: 600;
        margin-left: 10px;
        overflow: visible;
    }

    .opacity {
        font-size: 13px;
        color: #002f34;
        margin-left: 10px;
        display: flex;
        justify-content: space-between;
        opacity: 0.5;
    }



  .mobile-image{
    text-align: center;
  }


    .footer {
        display: flex;
        justify-content: center;
        background-color: #f8faf9;
        flex-direction: column;
        align-items: center;
        max-width: 100%;
        padding: 0px;
    }


    .center p {
        text-align: center;
    }


    .center h2 {
        text-align: center;
    }

    .button {
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    .last p {
        color: #002f34;
        font-weight: 600;
    }

    .last {
        margin-right: 0px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;


    }

    .last p {
        color: #002f34;
        font-weight: 600;
        margin-right: 5px;
    }



    .last-list {
        flex-direction: column;
        display: flex;
        max-width: 100%;
        background-color: #ebeeef;
        justify-content: first baseline;
        align-items: center;
        margin-right: 0px;
        padding: 0px;
    }

    .last-list p {
        color: #002f34;
        font-weight: 600;
        display: flex;
        align-items: center;
        padding: 0px;

    }


    .last-list ul li {
        list-style-type: none;
        color: #002f34;
        padding: 0px;
        margin-right: 20px;
        justify-content: center;
    }

    .list-item-1,
    .list-item-2,
    .list-item-3,
    .list-item-4 {
        margin: 0px;
        padding: 0px;
    }


    .follow-us-section {
        display: flex;
        flex-direction: column;
    }

    .follow-us-section,
    .follow-us {
        margin-bottom: 15px;
    }

    .icon-image {
        display: flex;
    }


    footer {
        background-color: #002f34;
        width: 100%;
        margin: 0 auto;
        height: 60px;
        margin: 0px;
        padding: 0px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: end;


    }


    .text {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        font-weight: 700;
        margin-right: 32px;

    }

}